Source: aegis
Section: vcs
Priority: optional
Maintainer: Peter Miller <pmiller@opensource.org.au>
Homepage: http://aegis.sourceforge.net
Build-Depends: bison, bzip2, cssc, cvs, debhelper (>= 5), debhelper (>= 7), ed,
 fhist, flex, gawk, gettext, ghostscript, groff, iso-codes, libbz2-dev,
 libcurl4-gnutls-dev, libmagic-dev, libxml2-dev, linux-libc-dev, locales,
 patchutils (>= 0.2.25), perl, po-debconf, rcs, subversion [!sh4 !avr32],
 uuid-dev, zlib1g-dev
Standards-Version: 3.9.3

Package: aegis
Architecture: any
Description: transaction-based software configuration management (DVCS)
 Aegis provides a framework within which a team of developers may work
 on many changes to a program independently, and Aegis coordinates
 integrating these changes back into the master source of the program,
 with as little disruption as possible.
 .
 Aegis simplifies the problems associated with multiple developers and
 development trees by using a transaction-based approach to version
 control, along with a web-browsable repository and an integrated testing
 mechanism.
 .
 Several methods are provided for distrubuted version control using
 Aegis, including tarballs and patches.  Signed-Off-By is also supported.
Depends: ${misc:Depends}, ${shlibs:Depends}, iso-codes, locales
Conflicts: aegis3
Recommends: fhist | rcs | cssc, cook | make
Replaces: aegis3

Package: aegis-doc
Architecture: all
Section: doc
Description: project change supervisor. - documentation
 Aegis provides a framework within which a team of developers may work
 on many changes to a program independently, and Aegis coordinates
 integrating these changes back into the master source of the program,
 with as little disruption as possible.
 .
 Aegis simplifies the problems associated with multiple developers and
 development trees by using a transaction-based approach to version
 control, along with a web-browsable repository and an integrated testing
 mechanism.
 .
 Several methods are provided for distrubuted version control using
 Aegis, including tarballs and patches.  Signed-Off-By is also supported.
Depends: ${misc:Depends}
